div > input {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px 0;
}

input {
  background-color: #af7eeb;
  color: #ffffff;
  width: 22%;
  height: 40px;
  border-radius: 8px;
}

input::placeholder {
  color: #ffffff;
}
